{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/download.css') }}">
<!-- <link rel="stylesheet" href="../static/styles/download.css"> -->
{% endblock %}

{% block content %}
<section id="section">
    <br>
    <div>
        <pre>
            <code id="toCopy">
                {{ s }}
            </code>
        </pre>
        <button type="button" onclick="CopyToClipboard()">Copy</button>
    </div>
    <br>
</section>
<script>
    function CopyToClipboard()
    {
        var r = document.createRange();
        r.selectNode(document.getElementById("toCopy"));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        alert("Copied")
    }
</script>
{% endblock %}