{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/download.css') }}">
<!-- <link rel="stylesheet" href="../static/styles/download.css"> -->
{% endblock %}

{% block content %}
<section id="section">
    <p><span class="mono">{{ username }}.md</span> is ready to download</p>
    <br>
    <form action="" method="post">
        <button type="submit"><i class="fa fa-download"></i> Download</button>
    </form>
    <br>
    <p id="howto">How to add this file to your github profile?</p>
    <ul>
        <li>Create a repository named as <span class="mono">{{ username }}</span>.</li>
        <li>You will find a <span class="mono">README.md</span> and a <span class="mono">cover_photo.jpg</span> inside the download zip file.</li>
        <li>Upload both of them to the repository you have created.</li>
        <li>You only need the <span class="mono">{{ username }}.zip</span> to extract the files inside it.<br>Uploading the <span class="mono">{{ username }}.zip</span> file to the repository isn't necessary.</li>
    </ul>
</section>
{% endblock %}