{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
{% endblock %}

{% block content %}
<section>
    <form action="" method="post">
        <i class="fa fa-github fa-5x"></i>
        <input type="text" name="username" id="" placeholder="Your github username">
        <input type="submit" value="Next">
    </form>
</section>
{% endblock %}