<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
    <title>Readme generator</title>
</head>
<body>
    
    <header>
        <h1>Github profile readme generator</h1>
    </header>

    <h1 class="mobile">This site does not support mobile view yet</h1>
    
    <section>
        <form action="" method="post">
            <i class="fa fa-github fa-5x"></i>
            <input type="text" name="username" id="" placeholder="Your github username">
            <input type="submit" value="Next">
        </form>
    </section>

    <footer>
        <i class="fa fa-github fa-2x"></i>
        <a href="https://github.com/Sriram-bb63/profile-readme-generator" target="_blank">Repo</a>
    </footer>

</body>
</html>