section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section p {
    font-family: "Noto Sans";
}

section form {
    width: 20%;
}

section form button {
    font-size: 2vw;
    font-family: sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    border: none;
    padding: 5%;
    cursor: pointer;
    border: 2px solid black;
}
section form button:hover {
    background-color: rgb(187, 255, 0);
}

#howto {
    font-family: "Noto Sans";
    font-size: 2vw;
}

section ul li {
    font-family: "Noto Sans";
}

.mono {
    font-family: monospace;
    font-size: 1.3vw;
}