.main-body {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.main-section {
    border: 1px black solid;
    width: 80vw;
    background-color: #f0f0f0;
}

.file-title {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5vw;
    padding: 1% 0% 0% 1%;
}

.form-section-name {
    margin-top: 2%;
    padding-left: 2%;
    font-family: 'Noto sans', sans-serif;
}

.basic-info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-box {
    padding-left: 2%;
    padding-bottom: 1%;
    width: 48%;;
}

label {
    font-family: 'Noto sans', sans-serif;
}

.required:after {
    content:" *";
    color: red;
}

.basic-info-section input, .basic-info-section select {
    width: 90%;
    font-size: 1.5vw;
    padding: 1%;
}

.cover-photo-section .input-box {
    width: 98%;
}

.cover-photo-section input {
    width: 94%;
    font-size: 1.5vw;
    padding: 1%;
}

.bio-section .input-box {
    width: 100%;
}

.bio-section input {
    width: 92%;
    font-size: 1.5vw;
    padding: 1%;
}

.bio-section textarea {
    font-family: "Noto sans", sans-serif;
    font-size: 1.5vw;
    padding: 1%;
    width: 92%;
}

.social-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-section input {
    width: 80%;
    font-size: 1.5vw;
    padding: 1%;
}

.skill-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-section .input-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 15%;
}

.skill-section .input-box label i {
    font-size: 3vw;
    padding-left: 5%;
}

.skill-section .input-box label {
    padding-left: 5%;
}

.skill-section .input-box p {
    font-family: 'Noto sans', sans-serif;
    display: inline;
    margin-left: 5%;
}

.project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-section input {
    width: 90%;
    font-size: 1.5vw;
    padding: 1%;
}

.submit-section {
    display: flex;
    justify-content: center;
    /* background-color: chocolate; */
}

.submit-section input {
    background-color: #fcfcfc;
    font-family: sans-serif;
    padding: 0.5%;
    width: 75%;
    font-size: 1.9vw;
}
.submit-section input:hover {
    background-color: rgb(187, 255, 0);
    cursor: pointer;
}