section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section div {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: #f0f0f0;

}

section div pre {
    height: 80%;
    width: 90%;
    overflow: auto;
    background-color: white;
}

section div button {
    width: 80%;
    height: 10%;
    border: none;
    font-size: 2vw;
    border: 2px solid black;
}
section div button:hover {
    background-color: rgb(187, 255, 0);
    cursor: pointer;
}

.modal {
    display: none;
    width: 50%;
    background-color: #f0f0f0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    border: 1px solid black;
}

.modal .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal .button button {
    border: none;
    transition-duration: 0.1s;
}
.modal .button button:hover {
    transform: scale(1.2);
}

.modal h3, .modal h1 {
    font-family: "Noto sans", sans-serif;
}

.modal ul {
    list-style-position: inside;
    font-family: sans-serif;
}