section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

section form {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

section form input {
    width: 60%;
    height: 100%;
    margin-bottom: 3%;
}

section form input[type=text] {
    padding: 1%;
    font-size: 16px;
}

section form input[type=submit] {
    width: 63%;
    font-size: 1.3vw;
    padding: 1%;
    font-family: sans-serif;
    border: 2px solid black;
}
section form input[type=submit]:hover {
    background-color: rgb(187, 255, 0);
    cursor: pointer;
}
